html{
    height: 100%;
}

body{
    text-align: center;
    font-size: 100%;
    background: #00090c;  
    background: -webkit-linear-gradient(to bottom, #01171d, #fff);  
    background: linear-gradient(to bottom, #01171d, #fff); 
}

.container{
    margin-top: 30px;  
}

.heading{
    background: rgb(2, 68, 109);
    border-radius: 25px;
    color: #ffffff;
}

h1{
    font-size: 350%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Fredericka the Great', cursive;
}

.rules{
    border-radius: 25px;
    background: rgb(145, 208, 248);
    margin-top: 5px;
    padding: 0 30px;
    font-weight: bold;
}

p{
    padding:0px 5px 5px 3px;
    letter-spacing: 0.2rem;
}

.middle{
    background: #91cae0;
    border-radius: 25px;
    margin:5px;
}
#crystalsBox{
    margin-top:20;
    /* border: 3px solid black; */
    border-radius: 25px;
    background: #ffffff;
}

span{
    font-size:2em;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

.img-thumbnail{
    border:none;
}

.won{
    background: rgb(146, 241, 2);
}

.loss{
    background: firebrick;
}

